*{
	margin: 0;
	padding: 0;
}

div {
  width: 400px;
}
/* Завдання 1 */
.monkey_img{
	float: left;
}
.panda_img{
	float: right;
}
/* Завдання 2 */
.parent {
  	width: 340px;
  	min-height: 20px;
  	background: #FF6600;
}
.rows{
  	width : 100px;
  	height: 100px;
  	background: #00F1FF;
  	margin: 5px;
  	float: left;
}
.clearbooth{			
	clear: both;
}
/* завдання 3 */
.parent_test_3 {
  width: 440px;
  min-height: 20px;
  background: #B95010;
}

.floatleft{
	float: left;
}
.floatright{
	float:right;
}
.rows_big{
  	width : 320px;
  	height: 100px;
  	margin: 5px;
  }
.rows_t3{
  	width : 100px;
  	height: 100px;
  	background: #DBDBDB;
  	margin: 5px;
  	z-index: 1;
}
/* Завдвння 4 */
.fullwrap{
	width: 484px;
	margin: auto;
	border: 1px solid #000;
}
header{
	margin:10px;
	height: 60px;
	border: 1px solid #000;
}
.wrapper{
	width: 462px;
	margin:10px;
	height: 317px;
	border: 1px solid #000;
}
.main{
	width: 254px;
	margin:7px;
	height: 296px;
	border: 1px solid #000;
	float: left;
}
.sidebar{
	width: 164px;
	margin:8px;
	height: 295px;
	border: 1px solid #000;
	float: right;
}
footer{
	height: 100px;
	width: 462px ;
	margin: 10px ;
	border: 1px solid #000;
}
.href{
	color: #507ED2;
	text-decoration: none;
	font-size: 18px;
}